//
@import "~bootstrap/scss/bootstrap";

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;

    div {
        background-color: rgb(216, 216, 216);
        padding: 1rem;
    }
}
